.category{

}


.example-spacer {
  flex: 1 1 auto;
}

mat-card{
  /*background-image: url("../../../../src/assets/images/category.png");*/
  background-position: right;
  height: 100px;
}

.catName{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  transform: translate(0%, 100%);
}

mat-form-field{
  width: 100%;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
